MONGODB_URI=mongodb+srv://nsrikar24_db_user:YYo3Zfvg3OEkiniG@between-us.opuyten.mongodb.net/?appName=Between-US
MONGODB_DB_NAME=between_us
BETTER_AUTH_SECRET=EvZJRgeF73ffwTpjFDWA5OwZMFjhlqqLhMf-4Qa2KE0
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=613917775049-h3mkfg1n36j93k15ko0qfuf3vra0sdvv.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
TIGER_DATABASE_URL=postgresql://tsdbadmin:YYo3Zfvg3OEkiniG@ascx2w324g.n17mthwh6g.tsdb.cloud.timescale.com:37331/tsdb
OLLAMA_HOST=http://localhost:11434
GEMMA_MODEL=gemma4:e2b-it-q4_K_M
GEMMA_TIMEOUT_MS=300000
